{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Presence\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

{{ getCss('cosnics-presence.css', 'Chamilo\\Core\\Repository\\ContentObject\\Presence') }}

<h3 style="margin-left: 15px;color: #507177;margin-top: 0;">{{ PRESENCE_TITLE|raw }}</h3>
<div>

</div>
<div id="main-content">
    <div id="user-presences">
        <b-table>

        </b-table>
    </div>
</div>
<script>
    Vue.use(BootstrapVue);
    Vue.use(VueI18n);

    const messages = { en: [], nl: [] };

    let lang;
    try {
        lang = '{{ LANGUAGE|raw }}';
    } catch (err) {
        console.warn('Language could not be set, defaulting to English instead.');
        lang = 'en';
    }

    new Vue({
        i18n: new VueI18n({locale: lang, messages}),
        el: '#user-presences',
        delimiters: ['${', '}'],
        data: {

        }
    });
</script>

{{ FOOTER|raw }}
