{% set appContext = 'Chamilo\\Libraries\\Calendar' %}

{% if error %}

<div class="alert alert-danger">
    {{ error }}
</div>

{% endif %}

<div class="col-xs-12 col-lg-9 table-calendar-main">

    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <div class="pull-left">
                {{ mainNavigation|raw }}
            </div>

            <div class="table-calendar-current-time pull-left">
                <h4>
                    {{ title|raw }}
                </h4>
            </div>
        </div>

        <div class="col-xs-12 col-lg-8">
            <div class="pull-right">
                {{ mainActions|raw }}
            </div>
        </div>
    </div>

    {{ mainCalendar|raw }}
</div>

<div class="col-xs-12 col-lg-3 table-calendar-sidebar">
    <div class="panel panel-default">
        <div class="panel-heading table-calendar-mini-navigation">
            <a href="{{ miniPreviousUrl }}">
                <span class="glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a href="{{ miniNextUrl }}">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
            <h4 class="panel-title">
                {{ title|raw }}
            </h4>
        </div>
        <div class="panel-body">
            {{ miniCalendar|raw }}
        </div>
        <div class="clearfix"></div>
    </div>

    {{ legend|raw }}
    {{ dateSelection|raw }}
</div>

<div class="clearfix"></div>