{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\GradeBook\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

<h3 style="margin-left: 15px;color: #507177;margin-top: 0;">{{ CONTENT_OBJECT_TITLE }}</h3>
<div id="app"></div>

<script src="http://localhost:8080/js/chunk-vendors.js"></script>
<script src="http://localhost:8080/js/app.js"></script>

<script>
    const apiConfig = {
        loadGradeBookDataURL: '{{ LOAD_GRADEBOOK_DATA_URL|raw }}',
        addCategoryURL: '{{ ADD_CATEGORY_URL|raw }}',
        updateCategoryURL: '{{ UPDATE_CATEGORY_URL|raw }}',
        moveCategoryURL: '{{ MOVE_CATEGORY_URL|raw }}',
        addColumnURL: '{{ ADD_COLUMN_URL|raw }}',
        updateColumnURL: '{{ UPDATE_COLUMN_URL|raw }}',
        updateColumnCategoryURL: '{{ UPDATE_COLUMN_CATEGORY_URL|raw }}',
        moveColumnURL: '{{ MOVE_COLUMN_URL|raw }}',
        addColumnSubItemURL: '{{  ADD_COLUMN_SUBITEM_URL|raw }}',
        removeColumnSubItemURL: '{{  REMOVE_COLUMN_SUBITEM_URL|raw }}',
        removeColumnURL: '{{ REMOVE_COLUMN_URL|raw }}',
        loadGradeItemScoresURL: '{{ LOAD_GRADEITEM_SCORES_URL|raw }}',
        synchronizeGradeBookURL: '{{ SYNCHRONIZE_GRADEBOOK_URL|raw }}',
        overwriteScoreURL: '{{ OVERWRITE_SCORE_URL|raw }}',
        revertOverwrittenScoreURL: '{{ REVERT_OVERWRITTEN_SCORE_URL|raw }}',
        updateScoreCommentURL: '{{ UPDATE_SCORE_COMMENT_URL|raw }}',
        csrfToken: '{{ csrf_token('ComponentToken') }}'
    };
    new Vue({
        render: h => h(window.App, {attrs: {apiConfig}}),
    }).$mount('#app');
</script>