{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\GradeBook\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

{% if CAN_EDIT_GRADEBOOK %}
    <h3 style="margin-left: 15px;color: #507177;margin-top: 0;">{{ CONTENT_OBJECT_TITLE }} - {{ USER_FULLNAME|raw }}</h3>
    <a style="margin-left: 15px" href="{{ GRADEBOOK_ROOT_URL|raw }}"><i class="fa fa-arrow-left" aria-hidden="true" style="margin-right: 5px"></i>Terug naar puntenboekje</a>
{% else %}
    <h3 style="margin-left: 15px;color: #507177;margin-top: 0;">{{ CONTENT_OBJECT_TITLE }}</h3>
{% endif %}
<div id="app"></div>

<script src="http://localhost:8080/js/chunk-vendors.js"></script>
<script src="http://localhost:8080/js/app.js"></script>

<script>
    Vue.use(VueI18n);
    const messages = { 'en': {}, 'nl': {} };

    const gradeBookData = '{{ GRADEBOOK|raw }}';
    const scores = '{{ SCORES|raw }}';
    const users = '{{ USERS|raw }}';

    let lang;
    try {
        lang = '{{ LANGUAGE|raw }}';
    } catch (err) {
        console.warn('Language could not be set, defaulting to English instead.');
        lang = 'en';
    }
    const i18n = new VueI18n({ locale: lang, messages });

    new Vue({
        render: h => h(window.UserScoresApp, {attrs: { 'grade-book-data': JSON.parse(gradeBookData), 'users': JSON.parse(users), 'scores': JSON.parse(scores) }}),
        i18n,
    }).$mount('#app');
</script>
