{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Notification' %}

{{ getJavascript('Common.js', 'Hogent\\Libraries') }}
{{ getJavascript('VueCommon.js', 'Hogent\\Libraries') }}
{{ getCss('Common.css', 'Hogent\\Libraries') }}

<style>
    .notifications-list {
        width: 100%;
        box-shadow: 3px 3px 8px lightgrey;
        margin-bottom: 0;
    }

    .notifications-list .list-group-item {
        border-radius: 0;
        display: flex;
        justify-content: space-between;
    }

    .notifications-list .list-group-item:hover {
        background-color: #eeeeee;
    }

    .notifications-list .unread-notification {
        background-color: #deeff5;
    }

    .notifications-list .unread-notification:hover {
        background-color: #cce6ef;
    }

    .notifications-list .notifications-list-title {
        background-color: #eeeeee;
        padding: 5px 15px;
    }

    .notifications-list .notification-description {
        text-decoration: none;
        cursor: pointer;
        background-color: inherit !important;
        color: #333333 !important;
        text-align: left !important;
    }

    .notifications-list .notification-timestamp {
        font-size: 12px;
        color: #888888;
        margin-top: 5px;
    }

    .notifications-list .notification-actions {
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        color: #999999;
        cursor: pointer;
        margin-left: 15px;
    }

    .notifications-list .notification-actions .btn {
        padding: 0;
    }

    .notifications-list .notification-actions .btn:hover {
        padding: 0;
        text-decoration: none;
    }

    .actions-menu .dropdown-item {
        font-size: 11px;
        padding: 0.75rem 1.5rem;
    }

    .notifications-widget .dropdown-menu {
        min-width: 352px;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        min-width: 350px;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        background-color: transparent;
        border: 0;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: #16181b;
        text-decoration: none;
        background-color: #eeeeee;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #007bff;
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
        color: #6c757d;
        background-color: transparent;
    }

    .dropdown-menu-right .dropdown-item {
        right: auto;
    }
</style>

{% set notificationsID = "notifications" ~ random() %}

<div id="{{ notificationsID }}" class="notifications-widget">
    <div class="list-group notifications-list">
        <div class="list-group-item notifications-list-title">
            Nieuwe meldingen
        </div>
        <div class="list-group-item" v-for="notification in newNotifications" v-bind:class="{ 'unread-notification': !notification.isRead }">
            <a class="notification-description">
                <div v-html="notification.message"></div>
                <div class="notification-timestamp"><span class="fa fa-clock-o"></span> {{ '{{ notification.time }}' }}</div>
            </a>
            <div class="notification-actions">
                <div>
                    <b-dropdown class="actions-menu" right variant="link" size="lg" no-caret>
                        <template slot="button-content">
                            ...
                        </template>
                        <b-dropdown-item v-for="filter in notification.filters"><span v-html="filter.message"></span></b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
        </div>
        <div class="list-group-item notifications-list-title">
            Eerdere meldingen
        </div>
        <div class="list-group-item" v-for="notification in previousNotifications" v-bind:class="{ 'unread-notification': !notification.isRead }">
            <a class="notification-description">
                <div v-html="notification.message"></div>
                <div class="notification-timestamp"><span class="fa fa-clock-o"></span> {{ '{{ notification.time }}' }}</div>
            </a>
            <div class="notification-actions">
                <div>
                    <b-dropdown class="actions-menu" right variant="link" size="lg" no-caret>
                        <template slot="button-content">
                            ...
                        </template>
                        <b-dropdown-item v-for="filter in notification.filters"><span v-html="filter.message"></span></b-dropdown-item>
                    </b-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {

        $(window).on('load', function () {
            new Vue({
                el: '#{{ notificationsID }}',
                data: {
                    notifications: [
                        {
                            message: 'Sonia VANDERMEERSCH heeft een nieuwe inzending geplaatst in de opdracht <b>Programmeren 101</b> in de cursus <b>Web Development</b>',
                            time: '4 uur geleden',
                            url: '',
                            isRead: false,
                            isNew: true,
                            filters: [
                                {
                                    message: 'Verberg deze melding',
                                    id: null
                                },
                                {
                                    message: 'Verberg alle meldingen van de cursus <b>Web Development</b>',
                                    id: 1
                                },
                                {
                                    message: 'Verberg alle meldingen van de opdracht <b>Programmeren 101</b> in de cursus <b>Web Development</b>',
                                    id: 2
                                }
                            ]
                        },
                        {
                            message: 'Tom DEMETS heeft de aankondiging <b>Examenrooster 2018</b> geplaatst in de cursus <b>Elektronica voor gevorderden</b>',
                            time: '20 uur geleden',
                            url: '',
                            isRead: false,
                            isNew: true,
                            filters: [
                                {
                                    message: 'Verberg deze melding',
                                    id: null
                                },
                                {
                                    message: 'Verberg alle meldingen van de cursus <b>Elektronica voor gevorderden</b>',
                                    id: 3
                                },
                                {
                                    message: 'Verberg alle meldingen over <b>aankondigingen</b> in de cursus <b>Elektronica voor gevorderden</b>',
                                    id: 4
                                }
                            ]
                        },
                        {
                            message: 'Lucas VANDEREECKEN heeft het leerpad <b>Kritisch denken</b> aangepast in de cursus <b>Kritisch denken voor beginners</b>',
                            time: 'gisteren - 20u20',
                            url: '',
                            isRead: false,
                            isNew: false,
                            filters: [
                                {
                                    message: 'Verberg deze melding',
                                    id: null
                                },
                                {
                                    message: 'Verberg alle meldingen van de cursus <b>Kritisch denken voor beginners</b>',
                                    id: 5
                                },
                                {
                                    message: 'Verberg alle meldingen in het leerpad <b>Kritisch denken</b> in de cursus <b>Kritisch denken voor beginners</b>',
                                    id: 6
                                }
                            ]
                        },
                        {
                            message: 'Jonas DESMET heeft een het item <b>Stage attest</b> toegevoegd aan zijn portfolio',
                            time: '20 augustus 2018 - 18u35',
                            url: '',
                            isRead: true,
                            isNew: false,
                            filters: [
                                {
                                    message: 'Verberg deze melding',
                                    id: null
                                },
                                {
                                    message: 'Verberg alle meldingen van het portfolio van <b>Jonas DESMET</b>',
                                    id: 7
                                }
                            ]
                        },
                        {
                            message: 'Filip WATTEEUW heeft de publicatie <b>WEGWERKZAAMHEDEN GENT 2018 / 2019</b> toegevoegd aan de cursus <b>Burgers pesten voor beginners</b>',
                            time: '15 augustus 2018 - 10u13',
                            url: '',
                            isRead: true,
                            isNew: false,
                            filters: [
                                {
                                    message: 'Verberg deze melding',
                                    id: null
                                },
                                {
                                    message: 'Verberg alle meldingen van de cursus <b>Burgers pesten voor beginners</b>',
                                    id: 8
                                },
                                {
                                    message: 'Verberg alle meldingen van nieuwe publicaties in de cursus <b>Burgers pesten voor beginners</b>',
                                    id: 9
                                }
                            ]
                        }
                    ]
                },
                computed: {
                    newNotifications: function() {
                        return this.notifications.filter(function(notification) {
                            return notification.isNew;
                        })
                    },
                    previousNotifications: function() {
                        return this.notifications.filter(function(notification) {
                            return !notification.isNew;
                        })
                    }
                }
            });
        });

    })();
</script>

{{ FOOTER|raw }}