{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Application\\Weblcms\\Tool\\Implementation\\Teams' %}

{% if IS_TEACHER %}
    <a href="{{ CREATE_TEAM_URL }}" class="btn btn-primary btn-lg">{{ 'CreateTeam'|trans({}, appContext) }}</a>
{% else %}
    <div class="alert alert-info">
        {{ 'TeamNotActivated'|trans({}, appContext) }}
    </div>
{% endif %}

<div style="margin-top: 20px">
{% include appContext ~ ':PlatformGroupTeamTable.html.twig' %}
</div>

{{ FOOTER|raw }}