{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Application\\Weblcms\\Tool\\Implementation\\Teams' %}
{% form_theme FORM 'bootstrap_3_horizontal_layout.html.twig' %}

{{ getJavascript('Plugin/VueJS/vue.js', 'Chamilo\\Libraries') }}
{{ getJavascript('Plugin/VueJS/polyfill.min.js', 'Chamilo\\Libraries') }}
{{ getJavascript('Plugin/VueJS/BootstrapVue/bootstrap-vue.js', 'Chamilo\\Libraries') }}
{{ getJavascript('Plugin/VueJS/VueResource/vue-resource.min.js', 'Chamilo\\Libraries') }}

{{ getCss('Plugin/VueJS/BootstrapVue/bootstrap-vue.min.css', 'Chamilo\\Configuration') }}

<style>
    .platform-group-selector {
        padding-top: 7px;
    }
</style>

<div class="platform-group-team-creator">
    {{ form_start(FORM) }}

    {{ form_row(FORM.name) }}

    <div class="row">
        <label for="create_platform_group_team_name" class="col-sm-2 control-label required">{{ 'PlatformGroups'|trans({}, appContext) }}</label>
        <div class="platform-group-selector col-sm-10">
            <div class="list-group">
                <div v-for="platformGroup in platformGroups" class="list-group-item" @click="retrieveSubgroups(platformGroup)">
                    {{ '{{ platformGroup.name }}' }} ({{ '{{ platformGroup.code }}' }})
                </div>
            </div>
        </div>
    </div>

    {{ form_end(FORM) }}
</div>

<script type="text/javascript">
    (function () {
        $(document).ready(function () {

            var platformGroups = {{ PLATFORM_GROUPS_JSON|raw }};
            var getGroupChildrenUrl = '{{ GET_GROUP_CHILDREN_URL|raw }}';

            new Vue({
                el: '.platform-group-team-creator',
                data: {
                    filterText: null,
                    platformGroups: platformGroups
                },
                methods: {
                    retrieveSubgroups: function (group) {
                        this.$http.post(getGroupChildrenUrl, {'groupId': group.id}, {'emulateJSON': true}).then(
                            function (response) {
                                console.log(response.data);
                            });

                    }
                }
            });

        });
    })();
</script>

{{ FOOTER|raw }}