{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Application\\Weblcms\\Tool\\Implementation\\Teams' %}
{% form_theme FORM 'chamilo_bootstrap_3_horizontal_layout.html.twig' %}

{#{{ getJavascript('VueCommon.js', 'Chamilo\\Libraries') }}#}

{#{{ getCss('Plugin/VueJS/BootstrapVue/bootstrap-vue.min.css', 'Chamilo\\Configuration') }}#}
{{ getCss('../../Javascript/Plugin/Fancytree/dist/skin-awesome/ui.fancytree.min.css', 'Chamilo\\Libraries') }}

<style>
    .platform-group-selector {
        padding-top: 7px;
    }

</style>

{% include 'Chamilo\\Core\\Group:PlatformGroupSelector.html.twig' %}

<div class="platform-group-team-creator">
    {{ form_start(FORM) }}

    <div class="form-group">
        <label for="create_platform_group_team_name" class="col-sm-2 control-label required">{{ 'PlatformGroups'|trans({}, appContext) }}</label>
        <div class="platform-group-selector col-sm-10">
            <platform-group-selector
                    :platform-groups="platformGroups"
                    :get-group-children-url="getGroupChildrenUrl"
                    v-on:selection-changed="selectionChanged"
                    :default-selected-groups="defaultSelectedGroups"
            ></platform-group-selector>
        </div>
    </div>

    {{ form_row(FORM.name, {'attr': {"v-model": 'teamName'}}) }}
    {{ form_row(FORM.platform_groups, {'attr': {':value': 'selectedPlatformGroupIds'}}) }}

    {%- if not EDIT_MODE -%}
        {{ form_row(FORM.type) }}
    {% endif %}

    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <button type="submit" class="btn btn-primary" :disabled="!canCreate()">
                {%- if EDIT_MODE -%}
                    {{ 'EditPlatformGroupTeam'|trans({}, appContext) }}
                {%- else -%}
                    {{ 'CreatePlatformGroupTeam'|trans({}, appContext) }}
                {%- endif -%}
            </button>
        </div>
    </div>

    {{ form_end(FORM) }}
</div>

<script type="text/javascript">
    (function () {
        $(document).ready(function () {

            var platformGroups = {{ PLATFORM_GROUPS_JSON|raw }};
            var defaultSelectedGroups = null;
            var getGroupChildrenUrl = '{{ GET_GROUP_CHILDREN_URL|raw }}';
            var courseMetadata = '{{ TEAM_NAME_COURSE_METADATA }}';

            var teamName = '';
            var editMode = false;

            {% if EDIT_MODE and PLATFORM_GROUP_TEAM %}
                teamName = '{{ PLATFORM_GROUP_TEAM.name }}';
                editMode = true;
                defaultSelectedGroups = {{ DEFAULT_SELECTED_GROUPS|raw }};
            {% endif %}

            new Vue({
                el: '.platform-group-team-creator',
                data: {
                    platformGroups: platformGroups,
                    getGroupChildrenUrl: getGroupChildrenUrl,
                    selectedGroups: [],
                    teamName: teamName,
                    defaultSelectedGroups: defaultSelectedGroups
                },
                methods: {
                    canCreate: function () {
                        if (this.selectedGroups.length === 0) {
                            return false;
                        }

                        return this.teamName.length > 0;
                    },
                    selectionChanged: function(selectedGroups) {
                        this.selectedGroups = selectedGroups;
                        this.proposeTeamName();
                    },
                    proposeTeamName: function() {
                        if(editMode) {
                            return;
                        }

                        var vueInstance = this;

                        if (vueInstance.selectedGroups.length === 1) {
                            vueInstance.teamName = vueInstance.selectedGroups[0].name + ' - ' + courseMetadata
                        }

                        if (vueInstance.selectedGroups.length === 0) {
                            vueInstance.teamName = '';
                        }
                    }
                },
                computed: {
                    selectedPlatformGroupIds: function() {
                        var platformGroupIds = [];
                        this.selectedGroups.forEach(function(group) {
                            platformGroupIds.push(group.id);
                        });

                        return JSON.stringify(platformGroupIds);
                    }
                }
            });

        });
    })();
</script>

{{ FOOTER|raw }}
