{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Assignment\\Extension\\Plagiarism' %}

<div class="row">
    <div class="col-xs-12" id="plagiarism">
        <h3 class="title-underlined">{{ 'Plagiarism'|trans({}, appContext) }}</h3>

        {% if HAS_RESULT %}
            {% if IN_PROGRESS %}
                <div class="alert alert-info">{{ 'InProgressInfo'|trans({}, appContext) }}</div>
                <a href="{{ CHECK_PLAGIARISM_URL }}"><button type="button" class="btn btn-default">{{ 'RefreshState'|trans({}, appContext) }}</button></a>
            {% endif %}
            {% if FAILED %}
                <div class="alert alert-danger">
                    {{ 'FailedInfo'|trans({'{ERROR_TRANSLATION}': (ERROR_TRANSLATION_VARIABLE|trans({}, 'Chamilo\\Application\\Plagiarism')|lower) }, appContext) }}
                </div>
                {% if CAN_RETRY %}
                <a href="{{ CHECK_PLAGIARISM_URL }}"><button type="button" class="btn btn-primary">{{ 'Retry'|trans({}, appContext) }}</button></a>
                {% endif %}
            {% endif %}
            {% if SUCCESS %}
                <div class="alert alert-info">{{ 'ScanCompleteInfo'|trans({'{RESULT}': RESULT.getResult()}, appContext)|raw }}</div>
                <a href="{{ VIEW_URL }}" target="_blank"><button type="button" class="btn btn-primary">{{ 'ViewPlagiarismReport'|trans({}, appContext) }}</button></a>
            {% endif %}
        {% else %}
            {% if CAN_CHECK_PLAGIARISM %}
            <a href="{{ CHECK_PLAGIARISM_URL }}"><button type="button" class="btn btn-primary">{{ 'CheckForPlagiarism'|trans({}, appContext) }}</button></a>
            {% else %}
            {{ 'PlagiarismCheckNotPossible'|trans({}, appContext) }}
            {% endif %}
        {% endif %}
    </div>
</div>