{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Assignment\\Extension\\Plagiarism' %}

{{ HEADER|raw }}

<div style="margin-top: 20px;">

    <a href="{{ CHECK_ALL_ENTRIES_URL }}"><button type="button" class="btn btn-default"><span class="fa fa-files-o"></span> {{ 'CheckAllEntries'|trans({}, appContext) }}</button></a>

    {% if COUNT == 0 %}
    <div class="alert alert-info" style="margin-top: 20px;">
        {{ 'NoEntriesCheckedWarning'|trans({}, appContext) }}
    </div>
    {% endif %}


    <div style="margin-top: 30px;">
    {{ TABLE|raw }}
    </div>

</div>

{{ FOOTER|raw }}