{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Evaluation\\Display' %}

<h3>{{ CONTENT_OBJECT_TITLE }}</h3>

<ul class="nav nav-tabs dynamic-visual-tabs" role="tablist">
    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">{{ 'Properties'|trans({}, appContext) }}</a></li>
    <li role="presentation" class="active"><a href="#rubric" aria-controls="properties" role="tab" data-toggle="tab">{{ 'Rubric'|trans({}, appContext) }}</a></li>
</ul>

<div class="dynamic-visual-tab-content tab-content">
    <div role="tabpanel" class="tab-pane tab-pane-with-border" id="properties">
        Properties
    </div>
    <div role="tabpanel" class="tab-pane tab-pane-with-border active" id="rubric">
        {% if SUPPORTS_RUBRICS %}
            {% if HAS_RUBRIC %}
                {% if CAN_BUILD_RUBRIC %}
                <a href="{{ BUILD_RUBRIC_URL }}#/builder" class="btn btn-primary">{{ 'BuildRubric'|trans({}, appContext) }}</a>
                <a href="{{ REMOVE_RUBRIC_URL }}" class="btn btn-primary" onclick="return confirm('{{ 'ConfirmRemoveRubric'|trans({}, appContext) }}')">{{ 'RemoveRubric'|trans({}, appContext) }}</a>
                {% else %}
                {% endif %}
                <div>{{ RUBRIC_PREVIEW|raw }}</div>
            {% else %}
                <a href="{{ ADD_RUBRIC_URL }}" class="btn btn-success">{{ 'AddRubric'|trans({}, appContext) }}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{{ FOOTER|raw }}
