{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Evaluation\\Display' %}

<style>
    td.table-lastname {
      text-transform: uppercase;
    }
</style>
<h3>{{ CONTENT_OBJECT_TITLE }}</h3>

<ul class="nav nav-tabs dynamic-visual-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#entities" aria-controls="entities" role="tab" data-toggle="tab">Entity</a></li>
    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab">{{ 'Properties'|trans({}, appContext) }}</a></li>
    <li role="presentation"><a href="#rubric" aria-controls="properties" role="tab" data-toggle="tab">{{ 'Rubric'|trans({}, appContext) }}</a></li>
</ul>

<div class="dynamic-visual-tab-content tab-content">
    <div role="tabpanel" class="tab-pane tab-pane-with-border active" id="entities">
        <!--Entity type: ${ entityType }<br />
        Context: ${ context }-->
        <div>
            <div class="btn-toolbar btn-action-toolbar">
                <div class="form-inline" style="display: flex; justify-content: flex-end">
                    <div class="action-bar input-group">
                        <b-form-input class="form-group form-control action-bar-search" v-model="globalSearchQuery" @input="onFilterChanged"
                                      type="text" placeholder="{{ 'Search'|trans({}, appContext) }}" debounce="750"></b-form-input>
                        <div class="input-group-btn">
                            <button name="clear" class="btn btn-default" value="clear" @click="onFilterCleared">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <b-table striped bordered
                :items="entitiesProvider"
                :fields="fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :filter="globalSearchQuery"
                :per-page="pagination.perPage"
                :current-page="pagination.currentPage"
            ></b-table>
            <div class="pagination-container" style="display: flex; justify-content: flex-end">
                <b-pagination v-model="pagination.currentPage" :total-rows="pagination.total" :per-page="pagination.perPage"
                              aria-controls="data-table"></b-pagination>
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link">Totaal ${ pagination.total }</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane tab-pane-with-border" id="properties">
        Properties
    </div>
    {% if SUPPORTS_RUBRICS %}
    <div role="tabpanel" class="tab-pane tab-pane-with-border" id="rubric">
        <div class="alert alert-info">{{ 'BETANotification'|trans({}, appContext) }}</div>
        {% if HAS_RUBRIC %}
            {% if CAN_BUILD_RUBRIC %}
            <a href="{{ BUILD_RUBRIC_URL }}#/builder" class="btn btn-primary">{{ 'BuildRubric'|trans({}, appContext) }}</a>
                <form action="{{ REMOVE_RUBRIC_URL }}" method="post" style="display: contents">
                    <button class="btn btn-primary" onclick="return confirm('{{ 'ConfirmRemoveRubric'|trans({}, appContext) }}')">{{ 'RemoveRubric'|trans({}, appContext) }}</button>
                </form>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'RubricHasResults'|trans({}, 'Chamilo\\Core\\Repository\\ContentObject\\Rubric') }}
                </div>
            {% endif %}
            <div class="clearfix"></div>
            <div>{{ RUBRIC_PREVIEW|raw }}</div>
        {% else %}
            <div class="alert alert-info">{{ 'RubricNotPublishedMessage'|trans({}, appContext) }}</div>
            <a href="{{ ADD_RUBRIC_URL }}" class="btn btn-success">{{ 'AddRubric'|trans({}, appContext) }}</a>
        {% endif %}
    </div>
    {% endif %}
</div>
<script>
    $('document').ready(function () {
        new Vue({
            el: '#entities',
            delimiters: ['${', '}'],
            data: {
                entityType: '',
                context: '',
                fields: [
                    { key: 'firstname', label: '{{ 'Firstname'|trans({}, 'Chamilo\\Core\\User') }}', sortable: true },
                    { key: 'lastname', label: '{{ 'Lastname'|trans({}, 'Chamilo\\Core\\User') }}', sortable: true, variant: 'lastname' },
                    { key: 'official_code', label: '{{ 'OfficialCode'|trans({}, 'Chamilo\\Core\\User') }}', sortable: true },
                    { key: 'feedback_count', label: '{{ 'NumberOfFeedbacks'|trans({}, 'Chamilo\\Application\\Weblcms') }}', sortable: false }
                ],
                sortBy: 'lastname',
                sortDesc: false,
                pagination: {
                    currentPage: 1,
                    perPage: 20, //3,
                    total: 0
                },
                globalSearchQuery: '',
                requestCount: true
            },
            methods: {
                onFilterChanged: function() {
                    this.requestCount = true;
                },
                onFilterCleared: function() {
                    if (this.globalSearchQuery !== '') {
                        this.globalSearchQuery = '';
                        this.requestCount = true;
                    }
                },
                entitiesProvider: function(ctx, callback) {
                    $.ajax({
                        url: '{{ LOAD_ENTITIES_URL|raw }}',
                        data: {
                            global_search_query: ctx.filter,
                            sort_field: ctx.sortBy,
                            sort_direction: ctx.sortDesc ? 'desc' : 'asc',
                            items_per_page: ctx.perPage,
                            page_number: ctx.currentPage,
                            request_count: this.requestCount
                        }
                    }).done(function(data) {
                        var d = data.properties;
                        this.entityType = d.entity_type;
                        this.context = d.context;
                        if (d.count !== undefined) {
                            this.pagination.total = d.count;
                            this.requestCount = false;
                        }
                        callback(data.properties.entities);
                    }.bind(this));
                }
            }
        });
    });
</script>
{{ FOOTER|raw }}
