{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Evaluation\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

<style type="text/css">
    #page-title {
        padding-left: 15px;
    }

    .rubric-action {
        display: inline-block;
        margin-top: 20px;
        padding-bottom: 5px;
    }

    .section-title {
        /*border-bottom: 2px solid rgba(180, 194, 197, 0.5);*/
        color: #507177;
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        /*margin-bottom: -1px;*/
        margin-right: 15px;
    }

    .title-underline-fw {
        border-bottom: 1px solid #ededed;
    }

    .title-underline-fw.mod-rubric {
        margin: 0 0 10px;
    }

    .title-underline-fw.mod-score {
        margin: 15px 0 20px;
    }

    .title-underline-fw.mod-feedback {
        margin: 20px 0 15px;
    }

    #feedback h3:not(.section-title) {
        color: #507177;
        display: inline-block;
        font-size: 1.75rem;
        margin: 5px 0 15px 15px;
    }

    .save-rubric-area {
        margin-bottom: 20px;
    }

    .score-label {
        color: #507177;
        margin-bottom: 5px !important;
        margin-right: 10px;
    }

    #rubric-entry h4, #rubric-result h4 {
        display: none;
    }

    #feedback .panel-feedback {
        border-color: transparent;
        max-width: 110ch;
    }

    #feedback > form {
        margin-left: 15px;
        max-width: 107ch;
    }

    .alert-important {
        margin-bottom: 12px;
        margin-left: -5px;
        max-width: fit-content;
        padding: 7px 10px;
    }
    .alert-important .fa {
        color: #31708f;
        font-size: 1.8rem;
        margin-right: 5px;
    }
</style>
<div class="col-xs-12">
    {% if HAS_RUBRIC %}
    <div class="row">
        <div class="col-xs-12" id="rubric">
            <div class="title-underline-fw mod-rubric">
                {% if RUBRIC_ACTION == 'Entry' %}
                    <h3 class="section-title">{{ 'FillInRubric'|trans({}, appContext) }}</h3>
                    <a href="{{ RUBRIC_RESULTS_URL }}#rubric" class="rubric-action">{{ 'ViewRubricResults'|trans({}, appContext) }}</a>
                {% elseif RUBRIC_ACTION == 'Result' %}
                    <h3 class="section-title">{{ 'ViewRubricResults'|trans({}, appContext) }}</h3>
                    <a href="{{ RUBRIC_ENTRY_URL }}#rubric" class="rubric-action">{{ 'FillInRubric'|trans({}, appContext) }}</a>
                {% endif %}
            </div>
            <div style="padding: 0">
                {{ RUBRIC_VIEW|raw }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if CAN_EDIT_EVALUATION %}
        <div class="row">
            <div class="col-xs-12" id="score">
                <div class="title-underline-fw mod-score">
                    <h3 class="section-title">{{ 'ScoreEntry'|trans({}, appContext) }}</h3>
                </div>
                <form name="score" action="{{ SAVE_SCORE_URL|raw }}" method="post" class="form-inline" style="margin-left: 15px">
                        {% if PRESENCE_STATUS == 'absent' %}<p class="alert-important" style="display:inline-block"><i class="fa fa-exclamation-circle"></i> {{ 'MarkedAsAbsent'|trans({}, appContext)|raw }}</p><button name="action" value="present" class="btn btn-default btn-sm" style="">{{ 'MarkPresent'|trans({}, appContext) }}</button>{% endif %}
                    <div style="display:flex;align-items:baseline;">
                        {%  if PRESENCE_STATUS != 'absent' %}<label class="control-label required score-label" for="score_score">Score:</label><input id="score_score" name="score" value="{{ SCORE|raw }}" type="text" style="width: 57px;height: unset;font-size: 1.3rem;padding: 5px 10px;line-height: 1.5;" class="form-control form-control-sm mod-score" autocomplete="off">
                        <button type="submit" name="action" value="save" class="btn btn-primary" style="margin-left: 5px;margin-right: 5px;font-size: 1.3rem;line-height: 1.5;padding: 5px 10px;">{{ 'Save'|trans({}, commonContext) }}</button>
                        {% endif %}
                        {% if PRESENCE_STATUS == 'neutral' or PRESENCE_STATUS == 'present' %}<button name="action" value="absent" class="btn btn-default btn-sm" style="">{{ 'MarkAbsent'|trans({}, appContext) }}</button>{% endif %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('ComponentToken') }}">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12" id="feedback">
            <div class="title-underline-fw mod-feedback">
                <h3 class="section-title">Feedback</h3>
            </div>
            {{ FEEDBACK_MANAGER|raw }}
        </div>
    </div>
</div>

{{ FOOTER|raw }}
