{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Evaluation\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

{% if ENTITY_TYPE == '0' %}
    {{ USER.get_fullname() }}
{% endif %}
<style type="text/css">
    .title-underlined {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 7px;
        margin-bottom: 25px;
    }
</style>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" id="score">
                {% if CAN_EDIT_EVALUATION %}
                    <h3 class="title-underlined">{{ 'ScoreEntry'|trans({}, appContext) }}</h3>
                    <style>
                        label {
                            margin-bottom: 5px !important;
                        }
                    </style>
                    <form name="score" method="post" class="form-inline">
                        <div class="form-group"><label class="control-label required" for="score_score">Score</label>
                            <input id="score_score" name="score" required="required" value="" type="text" style="width: 57px">
                        </div>
                        <button type="submit" class="btn btn-default btn-score" style="margin-left: 20px;">{{ 'Save'|trans({}, commonContext) }}</button>
                    </form>
                {% endif %}
            </div>
            {% if HAS_RUBRIC %}
                <div id="rubric">
                    <div style="margin: 20px 0;">
                        <div class="alert alert-info">{{ 'BETANotification'|trans({}, appContext) }}</div>
                        {% if CAN_USE_RUBRIC_EVALUATION %}
                            <a href="{{ RUBRIC_ENTRY_URL }}#rubric" class="btn btn-primary">{{ 'FillInRubric'|trans({}, appContext) }}</a>
                        {% endif %}
                        <a href="{{ RUBRIC_RESULTS_URL }}#rubric" class="btn btn-default">{{ 'ViewRubricResults'|trans({}, appContext) }}</a>
                    </div>
                    <div style="padding: 20px 0; border-top: 1px dotted #dddddd;">
                        {{ RUBRIC_VIEW|raw }}
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="row">
            <div class="col-xs-12" id="feedback">
                <h3 class="title-underlined">Feedback</h3>
                {{ FEEDBACK_MANAGER|raw }}
            </div>
        </div>
    </div>





{{ FOOTER|raw }}
