{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Evaluation\\Display' %}
{% set commonContext = 'Chamilo\\Libraries' %}

<style type="text/css">
    .u-inline-block {
        display: inline-block;
    }
    .u-flex {
        display: flex;
    }
    .u-align-items-baseline {
        align-items: baseline;
    }
    .u-align-items-center {
        align-items: center;
    }
    .u-align-items-end {
        align-items: flex-end;
    }
    .u-justify-content-between {
        justify-content: space-between;
    }
    .u-gap-small {
        gap: 5px;
    }

    #page-title {
        padding-left: 15px;
    }

    .rubric-action {
        margin-top: 20px;
        padding-bottom: 5px;
    }

    .section-title {
        color: #507177;
        font-size: 2rem;
        font-weight: 500;
        margin-right: 15px;
    }

    .title-underline-fw {
        border-bottom: 1px solid #ededed;
    }

    .title-underline-fw.mod-rubric {
        margin: 0 0 10px;
    }

    .title-underline-fw.mod-score {
        margin: 15px 0 20px;
    }

    .title-underline-fw.mod-feedback {
        margin: 20px 0 15px;
    }

    #feedback h3:not(.section-title) {
        color: #507177;
        display: inline-block;
        font-size: 1.75rem;
        margin: 5px 0 15px 15px;
    }

    .save-rubric-area {
        margin-bottom: 20px;
    }

    .control-label.score-label {
        color: #507177;
        margin: 0 10px 5px 0;
    }

    #score_score {
        font-size: 1.3rem;
        height: initial;
        line-height: 1.5;
        padding: 5px 10px;
        width: 57px;
    }
    .btn.mod-save-score {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.3rem;
        line-height: 1.5;
        padding: 5px 10px;
    }
    .btn.mod-mark {
        font-size: 1.3rem;
    }

    #rubric-entry h4, #rubric-result h4 {
        display: none;
    }

    #feedback .panel-feedback {
        border-color: transparent;
        max-width: 110ch;
    }

    #feedback > form {
        margin-left: 15px;
        max-width: 107ch;
    }

    .form-inline.mod-score {
        margin-left: 15px;
    }

    .alert-important {
        margin: 0 10px 0 0;
    }
    .alert-important .fa {
        color: #31708f;
        font-size: 1.8rem;
        margin-right: 5px;
    }
    .alert-important strong {
        border-radius: 3px;
        background-color: #eb6a38;
        padding: 0 3px 2px;
        color: #fff;
        font-weight: 400;
    }
    .fa.btn-icon-present {
        margin-right: 5px;
    }
    .fa.btn-icon-present::before {
        content: '\f0a2';
        font-size: 14px;
    }
    .fa.btn-icon-absent {
        margin-right: 5px;
    }
    .fa.btn-icon-absent::before {
        content: '\f1f7';
        font-size: 14px;
    }
    .btn-action-toolbar.mod-entities {
        margin-bottom: 0;
        margin-left: -5px;
    }

    /* Todo: simplify this code */

    .dropdown-toggle.mod-entities {
        background-color: transparent;
        color: #333;
        float: unset;
        min-width: 222px;
        padding-top: 8px;
        text-align: inherit;
    }

    .dropdown-toggle.mod-entities:active:hover,
    .dropdown-toggle.mod-entities.active:hover,
    .open > .dropdown-toggle.mod-entities:hover,
    .dropdown-toggle.mod-entities:active:focus,
    .dropdown-toggle.mod-entities.active:focus,
    .open > .dropdown-toggle.mod-entities:focus,
    .dropdown-toggle.mod-entities:active.focus,
    .dropdown-toggle.mod-entities.active.focus,
    .open > .dropdown-toggle.mod-entities.focus,
    .dropdown-toggle.mod-entities:active,
    .dropdown-toggle.mod-entities.active,
    .open > .dropdown-toggle.mod-entities
    {
        color: #333;
        background-color: transparent;
        border-color: #adadad;
    }
    .btn-group > .btn.mod-btn-prev:not(:first-child):not(.dropdown-toggle),
    .btn-group > .btn.mod-btn-next:not(:first-child):not(.dropdown-toggle) {
        border-radius: 4px;
        padding: 7px 12px;
    }

    .btn.mod-btn-prev:not(:hover), .btn.mod-btn-next:not(:hover) {
        border-color: transparent;
    }
    .dropdown-entity-label {
        background: #fff;
        border-radius: 3px;
        display: inline-block;
        padding: 0 5px 0 2px;
        transform: translate(5px, 9px);
    }
    .fa-user.mod-entity {
        color: hsla(0, 0%, 46%, 0.77);
    }
    .entity-type {
        color: #757575;
    }
    .entity-index {
        color: #507177;
        margin-left: 3px;
    }
    .fa-backward.mod-btn-prev {
        transform: scale(1.2)translateX(-1px);
    }
    .fa-forward.mod-btn-next {
        transform: scale(1.2)translateX(1px);
    }
</style>
<div class="col-xs-12">
    <div class="btn-toolbar btn-action-toolbar mod-entities">
        <div class="btn-group u-flex u-align-items-end u-gap-small">
            <div>
                <div class="dropdown-entity-label">
                    <span class="inline-glyph fa fa-user mod-entity"></span>
                    <span class="entity-type">{{ 'UserEntity'|trans({}, appContext) }}</span>
                    <span class="entity-index">{{ USER_INDEX }} / {{ USER_COUNT }}</span>
                </div>
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle u-flex u-align-items-center u-justify-content-between mod-entities" title="{{ SELECTED_USER.fullname|raw }}">
                    <span>{{ SELECTED_USER.fullname|raw }}</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-entities">
                    <li class="dropdown-header">
                        {{ 'SelectAnother'|trans({}, appContext)|lower }} {{ 'UserEntity'|trans({}, appContext)|lower }}
                    </li>
                    {% for USER in USERS %}
                        <li>
                            {% if USER.selected %}
                                <a class="selected disabled" title="{{ USER.fullname|raw }}"><span>{{ USER.fullname|raw }}</span></a>
                            {% else %}
                                <a class="not-selected" title="{{ USER.fullname|raw }}" href="{{ USER.url|raw }}">
                                    <span>{{ USER.fullname|raw }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if PREVIOUS_USER %}<a class="btn btn-default mod-btn-prev" title="{{ 'Previous'|trans({}, commonContext) }} {{ 'UserEntity'|trans({}, appContext)|lower }}" href="{{ PREVIOUS_USER.url|raw }}">
                <span class="inline-glyph fa fa-backward mod-btn-prev"></span>
            </a>{% endif %}
            {% if NEXT_USER %}<a class="btn btn-default mod-btn-next" title="{{ 'Next'|trans({}, commonContext) }} {{ 'UserEntity'|trans({}, appContext)|lower }}" href="{{ NEXT_USER.url|raw }}">
                <span class="inline-glyph fa fa-forward mod-btn-next"></span>
            </a>{% endif %}
        </div>
    </div>

    {% if HAS_RUBRIC %}
    <div class="row">
        <div class="col-xs-12" id="rubric">
            <div class="title-underline-fw mod-rubric">
                {% if RUBRIC_ACTION == 'Entry' %}
                    <h3 class="section-title u-inline-block">{{ 'FillInRubric'|trans({}, appContext) }}</h3>
                    <a href="{{ RUBRIC_RESULTS_URL }}#rubric" class="rubric-action u-inline-block">{{ 'ViewRubricResults'|trans({}, appContext) }}</a>
                {% elseif RUBRIC_ACTION == 'Result' %}
                    <h3 class="section-title u-inline-block">{{ 'ViewRubricResults'|trans({}, appContext) }}</h3>
                    <a href="{{ RUBRIC_ENTRY_URL }}#rubric" class="rubric-action u-inline-block">{{ 'FillInRubric'|trans({}, appContext) }}</a>
                {% endif %}
            </div>
            {{ RUBRIC_VIEW|raw }}
        </div>
    </div>
    {% endif %}
    {% if CAN_EDIT_EVALUATION %}
        <div class="row">
            <div class="col-xs-12" id="score">
                <div class="title-underline-fw mod-score">
                    <h3 class="section-title u-inline-block">{{ 'ScoreEntry'|trans({}, appContext) }}</h3>
                </div>
                <form name="score" action="{{ SAVE_SCORE_URL|raw }}" method="post" class="form-inline u-flex u-align-items-baseline mod-score">
                    {% if PRESENCE_STATUS == 'absent' %}<p class="alert-important"><i class="fa fa-exclamation-circle"></i> {{ 'MarkedAsAbsent'|trans({}, appContext)|raw }}</p><button name="action" value="present" class="btn btn-default btn-sm mod-mark"><span aria-hidden="true" class="fa btn-icon-present"></span><span>{{ 'MarkPresent'|trans({}, appContext) }}</span></button>{% endif %}
                    {%  if PRESENCE_STATUS != 'absent' %}<label class="control-label required score-label" for="score_score">Score:</label><input id="score_score" name="score" value="{{ SCORE|raw }}" type="text" class="form-control form-control-sm" autocomplete="off">
                    <button type="submit" name="action" value="save" class="btn btn-primary mod-save-score">{{ 'Save'|trans({}, commonContext) }}</button>
                    {% endif %}
                    {% if PRESENCE_STATUS == 'neutral' or PRESENCE_STATUS == 'present' %}<button name="action" value="absent" class="btn btn-default btn-sm mod-mark"><span aria-hidden="true" class="fa btn-icon-absent"></span><span>{{ 'MarkAbsent'|trans({}, appContext) }}</span></button>{% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('ComponentToken') }}">
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12" id="feedback">
            <div class="title-underline-fw mod-feedback">
                <h3 class="section-title u-inline-block">Feedback</h3>
            </div>
            {{ FEEDBACK_MANAGER|raw }}
        </div>
    </div>
</div>

{{ FOOTER|raw }}
