{% set appContext = 'Chamilo\\Core\\User' %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ SUBJECT }}</title>

    <style>
        body, html {
            height: 100%;
        }

        /*body {*/
        /*    background-color: #eeeeee;*/
        /*}*/

        .container {
            /*background-color: white;*/
            /*height: 100%;*/
            /*padding: 20px 15px;*/
            /*border: 1px solid #dddddd;*/
        }

        .row {
            margin-top: 30px;
        }

        .logo-row {
            /*background-color: #406e8e;*/
            padding: 10px 6px;
            margin-bottom: 40px;
        }

        .logo-row .logo-col {
            text-align: right;
        }

        .logo-row .title-col {
            /*color: white;*/
        }

        .logo-row .title-col h1 {
            margin: 0;
        }

        .personal-message {
            margin: 0 30px;
            border: 1px solid #dddddd;
            padding: 10px 6px;
            /*background-color: #eeeeee;*/
        }

        .personal-message-metadata {
            margin: 0 35px 5px;
            font-style: italic;
            font-size: 15px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row logo-row">
        <div class="col-sm-6 title-col">
            <h1>{{ 'Invitation'|trans({}, appContext) }}</h1>
        </div>
        <div class="col-sm-6 logo-col">
{#            <img alt="logo" src="{{ LOGO }}" />#}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ 'InvitationMessage'|trans({'{INVITED_BY_USER}': INVITED_BY_USER.get_fullname() , '{SITE_URL}': SITE_URL, '{VALID_UNTIL}': USER_INVITE.getValidUntil()|date('d/m/Y H:i')}, appContext)|raw }}
        </div>
    </div>

    {% if PERSONAL_MESSAGE %}
    <div class="row">
        <p>
        <div class="col-sm-12">
            <div class="personal-message-metadata">
                {{ 'UserWrote'|trans({'{INVITED_BY_USER}': INVITED_BY_USER.get_fullname()}, appContext) }}
            </div>
            <div class="personal-message">
                {{ PERSONAL_MESSAGE|nl2br }}
            </div>
        </div>
        </p>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <a href="{{ ACCEPT_INVITE_URL }}" class="btn btn-primary" target="_blank">{{ 'AcceptInvitation'|trans({}, appContext) }}</a>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>