{% set appContext = 'Chamilo\\Core\\User' %}

<ul class="nav nav-tabs dynamic-visual-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#upload-form" aria-controls="upload-form" role="tab" data-toggle="tab">{{ 'UploadFile'|trans({}, appContext) }}</a></li>
    <li role="presentation"><a href="#csv" aria-controls="csv" role="tab" data-toggle="tab">{{ 'CSVExample'|trans({}, appContext) }}</a></li>
    <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">{{ 'Details'|trans({}, appContext) }}</a></li>
</ul>

<div class="tab-content dynamic-visual-tab-content" style="border: 1px solid #dddddd; padding: 15px 12px; border-top: none;">
    <div role="tabpanel" class="tab-pane active" id="upload-form">
        {{ form|raw }}
    </div>
    <div role="tabpanel" class="tab-pane" id="csv">
        <p> {{ 'CSVMustLookLike'|trans({}, appContext) }} ({{ 'MandatoryFields'|trans({}, appContext) }})</p>

        <blockquote>
<pre>
<b>action</b>;<b>lastname</b>;<b>firstname</b>;<b>username</b>;<b>official_code</b>;{% if emailRequired %}<b>email</b>{% else %}email{% endif %};language;status;active;phone;activation_date;expiration_date;auth_source;password
<b>A / U / UA / D</b>;<b>xxx</b>;<b>xxx</b>;<b>xxx</b>;<b>xxx</b>;{% if emailRequired %}<b>xxx</b>{% else %}xxx{% endif %};xxx;1/5;1/0;xxx;date/0;date/0;Platform/Ldap;xxx
</pre>
        </blockquote>
    </div>

    <div role="tabpanel" class="tab-pane" id="details">
        {#<h4>{{ 'Action'|trans({}, appContext) }}</h4>#}
        <table class="table table-bordered">
            <tr style="background-color: #F5F5F5;">
                <th style="width: 150px;">{{ 'Action'|trans({}, appContext) }}</th>
                <th>{{ 'Description'|trans({}, 'Chamilo\\Libraries') }}</th>
            </tr>
            <tr>
                <th>A</th>
                <td>{{ 'Add'|trans({}, 'Chamilo\\Libraries') }}</td>
            </tr>
            <tr>
                <th>U</th>
                <td>{{ 'Update'|trans({}, 'Chamilo\\Libraries') }}</td>
            </tr>
            <tr>
                <th>UA</th>
                <td>{{ 'UpdateOrAddUser'|trans({}, appContext) }}</td>
            </tr>
            <tr>
                <th>D</th>
                <td>{{ 'Delete'|trans({}, 'Chamilo\\Libraries') }}</td>
            </tr>
            <tr style="background-color: #F5F5F5;">
                <th style="width: 150px;">{{ 'Status'|trans({}, appContext) }}</th>
                <th>{{ 'Description'|trans({}, 'Chamilo\\Libraries') }}</th>
            </tr>
            <tr>
                <th>1</th>
                <td> {{ 'Teacher'|trans({}, appContext) }}</td>
            </tr>
            <tr>
                <th>5</th>
                <td> {{ 'Student'|trans({}, appContext) }}</td>
            </tr>
            <tr style="background-color: #F5F5F5;">
                <th style="width: 150px;">{{ 'Date'|trans({}, 'Chamilo\\Libraries') }}</th>
                <th>{{ 'Description'|trans({}, 'Chamilo\\Libraries') }}</th>
            </tr>
            <tr>
                <th>0</th>
                <td>{{ 'NotTakenIntoAccount'|trans({}, appContext) }}</td>
            </tr>
            <tr>
                <th>{{ 'DateFormat'|trans({}, appContext) }}</th>
                <td>YYYY-MM-DD HH:MM:SS</td>
            </tr>
        </table>
    </div>
</div>







