{% extends "Chamilo\\Application\\ExamAssignment:Base.html.twig" %}
    {% set appContext = 'Chamilo\\Application\\ExamAssignment' %}
    {% block main %}
    <main>
        <div class="container">
            <div class="main-content mod-current-exam">
                <h1 class="current-exam-title">{{ DETAILS.assignment.get_title() }}</h1>
                {% set description = DETAILS.assignment.get_description() %}
                <div class="current-exam-info{% if not description %} mod-no-description{% endif %}">
                    <ul class="current-exam-info-main">
                        <li>{{ DETAILS.course.get_title() }} (<span class="course-visual-code">{{ DETAILS.course.get_visual_code() }}</span>)</li>
                        <li>{{ DETAILS.titular.get_firstname() }}&nbsp;{{ DETAILS.titular.get_lastname() }}</li>
                        {% set start_time = DETAILS.assignment.get_start_time %}
                        <li><span>Aanvang:</span> <strong class="exam-timestamp">{{ start_time|date("d") }}<span class="dmy-separator">/</span>{{ start_time|date("m") }}<span class="dmy-separator">/</span>{{ start_time|date("Y") }} <i class="datetime-separator fa fa-minus" aria-hidden="true"></i> {{ start_time|date("H:i") }}</strong></li>
                    </ul>
                    <div class="current-exam-info-time">
                        <ul class="current-exam-info-time-end">
                            {% set end_time = DETAILS.assignment.get_end_time %}
                            <li class="time-item"><span>Tijd tot:</span><strong class="exam-timestamp mod-strong">{{ end_time|date("d") }}<span class="dmy-separator-strong">/</span>{{ end_time|date("m") }}<span class="dmy-separator-strong">/</span>{{ end_time|date("Y") }} - {{ end_time|date("H:i") }}</strong></li>
                        </ul>
                    </div>
                </div>
                {% if description %}
                    <div class="current-exam-info-description">
                        <h2 class="current-exam-info-description-title">{{ 'Description'|trans({}, appContext) }}:</h2>
                        {{ description|raw }}
                    </div>
                {% endif %}
                <div class="current-exam-main">
                    <div class="current-exam-essentials">
                        <h2 class="current-exam-main-title mod-files">Bestanden:</h2>
                        <ul class="current-exam-files-download">
                            {% for ATTACHMENT, ATTACHMENT_URL in DETAILS.attachments %}
                                <li><a href="{{ ATTACHMENT_URL }}">{{ ATTACHMENT }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="current-exam-upload-section">
                        <h2 class="current-exam-main-title mod-upload">Indienen:</h2>
                        <div class="current-exam-upload-area">
                            Klik of sleep uw bestanden hier om ze op te laden.
                            <i class="upload-area-icon fa fa-plus-square"></i>
                        </div>
                        <!--            <form action="/file-upload" class="dropzone">
                                      <div class="fallback">
                                        <input name="file" type="file" multiple />
                                      </div>
                                    </form>-->

                        <div class="current-exam-upload-reminder">Let op! Kijk goed na of je niets vergeten bent.</div>
                        <button class="btn btn-action mod-upload">Dien examenopdracht in</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
