{% extends "Chamilo\\Application\\ExamAssignment:Base.html.twig" %}
    {% set appContext = 'Chamilo\\Application\\ExamAssignment' %}
    {% block main %}
        <style>
            .not-allowed-alert {
                margin-top: 5em;
            }
        </style>
    <main>
        <div class="container">
            {% if not ALLOWED_TO_VIEW_ASSIGNMENT %}
                <div class="main-content">
                    <div class="alert alert-danger not-allowed-alert">
                        Je bent niet toegelaten op deze pagina omdat je niet over de juiste rechten beschikt of omdat je geen juiste code hebt opgegeven.
                        Gelieve contact op te nemen met de titularis van deze opdracht.
                    </div>
                </div>
            {% else %}
            <div class="main-content mod-current-exam">
                <h1 class="current-exam-title">{{ DETAILS.assignment.get_title() }}</h1>
                <div class="current-exam-info">
                    <ul class="current-exam-info-main">
                        <li>Cursus: {{ DETAILS.course.get_title() }} ({{ DETAILS.course.get_visual_code() }})</li>
                        <li>Titularis: {{ DETAILS.titular.get_firstname() }}&nbsp;{{ DETAILS.titular.get_lastname() }}</li>
                    </ul>
                    <div class="current-exam-info-time">
                        <ul class="current-exam-info-time-start">
                            <li>
                                <span class="sr-only">Van </span><strong class="exam-timestamp">{{ EXAM.start_time|date("d") }}<span class="dmy-separator">/</span>{{ EXAM.start_time|date("m") }}<span class="dmy-separator">/</span>{{ EXAM.start_time|date("Y") }} <i class="datetime-separator fa fa-minus" aria-hidden="true"></i> {{ EXAM.start_time|date("H:i") }}</strong>
                            </li>
                        </ul>
                        <ul class="current-exam-info-time-end">
                            <li class="time-item"><span>Tijd tot</span> <span class="sr-only"> tot </span><strong class="exam-timestamp">{{ EXAM.end_time|date("d") }}<span class="dmy-separator">/</span>{{ EXAM.end_time|date("m") }}<span class="dmy-separator">/</span>{{ EXAM.end_time|date("Y") }} <i class="datetime-separator fa fa-minus" aria-hidden="true"></i> {{ EXAM.end_time|date("H:i") }}</strong></li>
                        </ul>
                    </div>
                </div>
                {% if DETAILS.assignment.get_description() %}
                <div class="alert alert-info">
                    {{ DETAILS.assignment.get_description()|raw }}
                </div>
                {% endif %}
                <div class="current-exam-main">
                    <div class="current-exam-essentials">
                        <div class="current-exam-files-title"><strong>Bestanden:</strong></div>
                        <ul class="current-exam-files-download">
                            {% for ATTACHMENT, ATTACHMENT_URL in DETAILS.attachments %}
                                <li><a href="{{ ATTACHMENT_URL }}">{{ ATTACHMENT }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="current-exam-upload-section">
                        <div class="current-exam-upload-title"><strong style="">Indienen:</strong></div>
                        <div class="current-exam-upload-area">
                            Sleep de gevraagde bestanden in dit kader.
                        </div>
                        <!--            <form action="/file-upload" class="dropzone">
                                      <div class="fallback">
                                        <input name="file" type="file" multiple />
                                      </div>
                                    </form>-->

                        <div class="current-exam-upload-reminder">Let op! Kijk goed na of je niets vergeten bent.</div>
                        <button class="btn btn-action mod-upload">Dien examenopdracht in</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    {% endblock %}
