{{ HEADER|raw }}
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .container-headerless {
            display: contents;
        }
        .header {
            background: #406e8e;
            color: #fff;
        }
        .header-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 50px;
            padding: 5px 0;
        }
        .user {
            align-items: baseline;
            display: flex;
        }
        @media (min-width: 500px) {
            .header-content {
                flex-direction: row;
            }
            .user {
                margin-top: 5px;
            }
        }
        .header-title {
            font-size: 2rem;
        }
        .main-content {
            color: #333;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .main-content.mod-exams {
            margin-top: 80px;
            max-width: 720px;
        }

        .btn-action {
            background-color: #009c7c;
            border: 1px solid;
            border-color: #008368;
            color: #fff;
        }
        .btn-action.mod-access {
            font-size: 1.3rem;
            line-height: 1rem;
        }
        .btn-action:hover, .btn-action:focus, .btn-action:active {
            background-color: #00b690;
            border-color: #00b690;
            color: #fff;
        }
        .btn-action:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
        .btn-logout {
            background-color: #337ab7;
            border: 1px solid;
            border-color: #2e6da4;
            border-radius: 4px;
            color: #fff;
            font-size: 1.3rem;
            /*line-height: 2;*/
            margin-left: 10px;
        }
        .btn-logout:hover, .btn-logout:focus, .btn-logout:active {
            background-color: #2b6090;
            border-color: #204d74;
        }
        .btn-logout:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
        .exam-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .exam-list-item {
            background: #f0f0f0;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            line-height: 1.6;
            margin-bottom: 40px;
            padding: 20px;
        }
        .exam-code {
            margin-top: 8px;
        }
        .exam-code::placeholder {
            color: #999;
        }
        .footer {
            background: #fff;
            border-top: 1px solid #ccc;
            margin-top: auto;
            width: 100%;
        }
        .privacy-policy {
            padding: 10px 0;
        }
        .privacy-policy-title {
            color: #3e3838;
            font-size: 1.6rem;
            margin: 0 0 10px;
        }
        .privacy-policy-paragraph {
            color: #666;
        }
        .main-content.mod-current-exam {
            margin-top: 60px;
            max-width: 900px;
        }

        .current-exam-title {
            font-size: 2rem;
            margin-bottom: 0;
            margin-left: 5px;
            padding-bottom: 0;
        }
        .current-exam-info {
            align-items: baseline;
            display: flex;
            margin-bottom: 60px;
        }
        .current-exam-info-main {
            flex: 2;
            list-style: none;
            margin: 0;
            padding: 5px;
        }
        .current-exam-info-time {
            align-items: baseline;
            display: flex;
            flex: 3;
            justify-content: space-between;
        }
        .current-exam-info-time-start {
            list-style: none;
            margin: 0;
            padding: 5px;
        }
        .current-exam-info-time-end {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            width: fit-content;
        }
        .time-item {
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        .time {
            font-size: 2.4rem;
            line-height: 2.2rem;
        }
        .current-exam-main {
            display: flex;
            width: 100%;
        }
        .current-exam-essentials {
            border-radius: 5px;
            flex: 2;
            margin-bottom: 20px;
            max-width: 50%;
            padding: 5px;
        }
        .current-exam-files-title {
            padding: 0px 5px 5px 0;
        }
        .current-exam-files-title strong {
            font-size: 1.6rem;
        }
        .current-exam-files-download {
            list-style: none;
            margin: 0;
            padding: 5px 5px 5px 0;
        }
        .current-exam-upload-section {
            flex: 3;
        }
        .current-exam-upload-title {
            padding: 5px;
        }
        .current-exam-upload-title strong {
            font-size: 1.6rem;
        }
        .current-exam-upload-area {
            border: 1px dotted lightgrey;
            height: 200px;
            padding: 5px;
        }
        .current-exam-upload-reminder {
            margin-bottom: 7px;
            margin-top: 5px;
            padding-left: 5px;
        }
        .btn-action.mod-upload {
            font-size: 1.5rem;
            line-height: 1.5;
        }

        .exam-metadata {
            margin-bottom: 1rem;
        }

        .exam-list-item2 {
            display: flex;
        }

        .exam-info {
            width: 80%;
        }

        .btn-action2 {
            width: 100%;
            margin-top: 1rem;
        }

        .exam-timestamp {
            color: #406e8e;
        }
    </style>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="header-title">HOGENT Examination Tool</div>
                <div class="user">{{ USER.get_fullname() }} <button class="btn btn-default btn-logout">Log out</button></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main-content mod-exams">
                <h1 class="sr-only">Examens vandaag</h1>
                <ul class="exam-list">
                    {% for EXAM in EXAMS %}
                    <li class="exam-list-item exam-list-item2">
                        <div class="exam-info">
                            <div class="exam-title"><strong>{{ EXAM.title }}</strong></div>
                            <div class="exam-metadata">
                                {{ EXAM.course_title }} ({{ EXAM.visual_code }}) -
                                &nbsp;{{ EXAM.firstname }}&nbsp;{{ EXAM.lastname }}
                            </div>
                            <div>
                                <div class="exam-time">
                                    Van
                                    <span class="exam-timestamp"><strong>{{ EXAM.start_time|date("d/m/Y - H:i") }}</strong></span>
                                    tot
                                    <span class="exam-timestamp"><strong>{{ EXAM.end_time|date("d/m/Y - H:i") }}</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="exam-form">
                            <form action="/page1" method="post">
                                <input type="text" class="exam-code form-control" name="exam-code" autocomplete="off" placeholder="5-cijferige code" />
                                <button class="btn btn-action mod-access btn-action2">Starten</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="exam-list-item">
                        <div class="exam-title">Titel: <strong>Filosofie 2</strong></div>
                        <div>
                            <div class="exam-time exam-start-time">Starttijd: 10.30</div>
                            <div class="exam-time exam-end-time">Eindtijd: 12.00</div>
                        </div>
                        <div>Titularis: Jenny Doe</div>
                        <form action="/page1" method="post">
                            <input type="text" class="exam-code" name="exam-code" autocomplete="off" placeholder="5-cijferige code" />
                            <button type="submit" class="btn btn-action mod-access">Starten</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="privacy-policy">
                <h1 class="privacy-policy-title">Privacy</h1>
                <p class="privacy-policy-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel eros eu ipsum rhoncus sollicitudin. Mauris elementum nisl et felis scelerisque blandit. In hac habitasse platea dictumst. Suspendisse elementum vitae quam nec congue. Vestibulum in nisi ante. Nullam vitae mi est. Quisque facilisis viverra urna, nec mattis nulla. Quisque sollicitudin turpis et elementum vestibulum. Morbi quis sodales nisi, nec feugiat urna. Duis mattis enim vestibulum, consectetur orci vel, finibus risus. Integer eu orci risus. Etiam a tempus nulla, quis ultrices mauris.</p>
            </div>
        </div>
    </footer>
{{ FOOTER|raw }}
